@layer base {
  html,
  body {
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    overscroll-behavior: none;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  *:focus,
  *:focus-visible {
    outline: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button {
    outline: none;
    cursor: pointer;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE, Edge legacy */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
