@layer base {
  :root {
    --semantic-brand-primary: var(--yellow-500);
    --semantic-bg: var(--gray-900);
    --semantic-dim: var(--black-88);

    --radius-20: 20px;
    --radius-10: 10px;

    /* Chart */
    --semantic-chart-primary: var(--semantic-brand-primary);
    --semantic-chart-primary-30: var(--yellow-500-30);
    --semantic-chart-primary-end: var(--yellow-900-20);

    --semantic-chart-grid: var(--white-10);
    --semantic-chart-axis: var(--gray-200);
    --semantic-chart-axis-strong: var(--gray-100);

    --semantic-chart-muted-fill: var(--white-10);
    --semantic-chart-muted-stroke: var(--gray-100);
  }
}
